<%- include("header") -%>

<h2>This is the about page</h2>

<p>I am Mohd Osama Raza. I am a Software Developer (MERN and Flutter) with good proficiency in data structure and algorithms, verbal and written communication. Have good understanding of various computer science core concepts</p>

<%- include("footer") -%>
